@import '@tabler/icons/iconfont/tabler-icons.min.css';

.ti.ti-2xs {
    font-size: 0.625em
}

.ti.ti-xs {
    font-size: 0.75em
}

.ti.ti-sm {
    font-size: 0.875em
}

.ti.ti-lg {
    font-size: 1.25em
}

.ti.ti-xl {
    font-size: 1.5em
}

.ti.ti-xxl {
    font-size: 2em
}
